# Ignore node_modules
node_modules/

# Ignore logs
*.log
logs/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store

# Ignore build files
dist/
build/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore dataset and research folders
INADS_Data/
Research Paper/
