# Ignore node_modules
node_modules/

# Ignore logs
*.log
logs/

# Ignore environment variables
.env

# Ignore OS-specific files
.DS_Store

# Ignore build files
dist/
build/

.env
.env

__pycache__/
*.pyc
node_modules/
*.log
